html {
    width: auto;
    height: auto;
}

body {
    margin: 0px;
    height: auto;
    width: auto;
	background-size:600%;
	animation: gradient 330s ease infinite;
    background-image: url(image/back.jpg);
	
}


*{margin:auto;}
@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

.menu {
    padding-top: 20px;
    padding-bottom: 20px;  
    background-color: rgb(22, 26, 29); 
    width: 100%;
    position: fixed;
    top: auto;
   }
   
   li
   {
    display: inline-block;
    margin-inline: 2%;
   }
   
   .menu a
   {
       text-decoration: none; 
       font-size: 20px; 
       font-family:Arial, Helvetica, sans-serif; 
       color: white; 
   }
   
   .menu a:hover
   {
       border-bottom:1px solid ;
       size: 25px;
   }

   .main_block
{
    margin-top: 5%;
    background-color: #fafafa;
    width: 40%;
    height:auto;
    padding: 1.5%;
    box-shadow: 2px 4px 14px -1px rgba(0,0,0,0.25);
    border-bottom: 1px solid #000000;

}

.main_copy
{
    
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    padding-bottom: 2%;
    height: auto;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}

p
{
    margin-left: 2%;
    margin-right: 2%;
}