html {
    width: auto;
    height: auto;
}

body {
    margin: 0px;
    height: auto;
    width: auto;
	background-size:600%;
	animation: gradient 330s ease infinite;
    background-image: url(image/back.jpg);
	
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

.menu {
 padding-top: 20px;
 padding-bottom: 20px;  
 background-color: rgb(22, 26, 29); 
 width: 100%;
 position: fixed;
 top: auto;
}

li
{
 display: inline-block;
 margin-inline: 2%;
}

.menu a
{
    text-decoration: none; 
    font-size: 20px; 
    font-family:Arial, Helvetica, sans-serif; 
    color: white; 
}

.menu a:hover
{
    border-bottom:1px solid ;
    size: 25px;
}

h1,h2,p
{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    text-align: justify;
}

#img_doc
{
    display: block;
    width: 50%;
    box-shadow: 2px 4px 14px -1px rgba(0,0,0,0.05);
}

#main_titre
{
display: inline-block;
border-bottom: 3px solid #000000;
font-size: 30px;
}

#titre
{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 15px;
   
}


/**/

*{margin:auto;}


.main_block
{
    margin-top: 5%;
    background-color: #fafafa;
    width: 40%;
    height:auto;
    padding: 1.5%;
    box-shadow: 2px 4px 14px -1px rgba(0,0,0,0.25);
    border-bottom: 1px solid #000000;

}


.block_texte
{
    
    border: 1px solid #000000;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    padding-bottom: 2%;
    width: 25%;
    height: 25%;
    margin-left :2%;
    display: inline-block;
}

.block_texte_projet
{
    
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    padding-bottom: 2%;
    height: auto;
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
}





.block_top
{
    background-color: #961414;
    box-decoration-break: initial;
    height:auto;
    margin-right:1%;
    margin-top: 1%;
    padding: 1%;
    box-shadow: 2px 4px 14px -1px rgba(0,0,0,0.25);
    margin-left: 0.25%;
    border-radius: 5px;
    border: 1px solid #000000;
    
}


footer
{
    width: 100%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    background-color: rgb(22, 26, 29);
    bottom:auto;
    position:absolute;
}


#img_block
{
    height:10%;
    width:45%;
}

#img_block:hover
{
    transition: 0.3s;
    height:11%;
    width:51%;
}

#p_text_projet
{
    margin-top:5%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-size:30px;
}

#sp_titre
{
    margin-top: 2%;
    margin-left: 2%;
    text-decoration: underline;
    font-family:Times, serif;
    color:#499582;
    font-weight: bold;
}
.sp
{
    display: inline;
}

.sp_2
{
    margin-top: 40%;
}
embed 
{
    margin-left: 3%;
    border: solid 3px;
}
#Copy
{
    font-family:Arial, Helvetica, sans-serif; 
    color: white; 
    text-decoration: none;
    
}
#a_copy
{
    font-family:Arial, Helvetica, sans-serif; 
    color: white; 
    text-decoration: none;
    font-size: small;
}


#txt_FiE5
{
border: solid 2px;
padding: 1%;
float:left; 
margin-left: 2%
}

#link_file_E5
{ 
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    color: purple;
}