html {
    width: auto;
    height: auto;
    background-size:600%;
	animation: gradient 330s ease infinite;
    background-color: gray;
}

body {
    margin: 0px;
    height: auto;
    width: auto;
	
}
.menu {
    padding-top: 20px;
    padding-bottom: 20px;  
    background-color: rgb(22, 26, 29);
    width: 100%;
    position: fixed;
    top: auto;
}


li
{
    display: inline-block;
    margin-inline: 2%;
}

a
{
    text-decoration: none; 
    font-size: 20px; 
    font-family:Arial, sans-serif; 
    color: white;
}
a:hover
{
    border-bottom:1px solid ;
    size: 25px;
}


h1,h2
{
    font-family:Times, serif;
    color:#499582;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top:10px;
    
}

#main_titre
{
    font-family:Arial, sans-serif;
    display: inline-block;
    font-size: 40px;
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 15px 3px rgba(0,0,0,0.25);
    background: #ffffff;
	background-size: 200% 400%;
	animation: gradient 10s ease infinite;
    padding-left: 25%;
    padding-top:3%;
    padding-bottom: 2%;
    padding-right: 25%;
    margin-top: 5%;
    opacity: 80%;

    
}

hr
{
    color: black;
    margin-left:10%;
    margin-right: 10%;
    
}


p
{
    text-align: left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    margin-right:1%;
    margin-left:1%;
}

/**/

*{margin:auto;}


.main_block
{
    box-shadow: 2px 4px 14px -1px rgba(0,0,0,0.25);
    border: 1px solid #000000;
    height: 95%;
    
    
}


.block_texte
{
    
    box-decoration-break: initial;
    height:auto;
    margin-bottom: 1%;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    background-color:#f3f3f3;
    box-shadow: 2px 4px 14px -1px rgba(0, 0, 0, 0.016);
    padding: 1%;
}

footer
{
    width: 100%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    background-color: rgb(22, 26, 29);
    bottom:0;
    position:absolute;
}
#Copy
{
    font-family:Arial, Helvetica, sans-serif; 
    color: white; 
    text-decoration: none;
    
}

#a_copy
{
    font-family:Arial, Helvetica, sans-serif; 
    color: white; 
    text-decoration: none;
    font-size: small;
}
