html {
    width: auto;
    height: auto;
}

body {
    margin: 0px;
    height: auto;
    width: auto;
	background-size:500%;
	animation: gradient 330s ease infinite;
    background-image: url(image/back.jpg);

	
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

.menu {
 padding-top: 20px;
 padding-bottom: 20px;  
 background-color: rgb(22, 26, 29); 
 width: 100%;
 position: fixed;
 top: auto;
z-index: 1;
}

li
{
 display: inline-block;
 margin-inline: 2%;
}


h1,h2,p
{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    text-align: justify;
}

#main_texte_VT{
    margin-left: 2%;
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 30%;

}

#texte_VT{
    margin-left: 10%;
    margin-right: 10%;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    

}

#main_titre
{
display: inline-block;
border-bottom: 3px solid #000000;
font-size: 30px;
}

#titre
{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 15px;
   
}


/**/

*{margin:auto;}


.main_block
{
    margin-top: 5%;
    background-color: #fafafa;
    width: 40%;
    height:auto;
    padding: 1.5%;
    box-shadow: 2px 4px 14px -1px rgba(0,0,0,0.25);
    border-bottom: 1px solid #000000;

}

.main_Vtech
{
    
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    padding-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    height: auto;
}

footer
{
    width: 100%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    background-color: rgb(22, 26, 29);
    bottom:auto;
    position:absolute;
}


a
{
    text-decoration: none; 
    font-size: 20px; 
    font-family:Arial, Helvetica, sans-serif; 
    color: white; 
}

a:hover
{
    border-bottom:1px solid ;
    size: 25px;
}

.block_Vtech
{
    
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    padding-bottom: 2%;
    margin-left: 5.5%;
    margin-right:2%;
    width: 40%;
    height: auto;
    box-shadow: 6px 6px 14px -4px rgba(0,0,0,0.32);
    margin-top: 3%;
    border-bottom: #00000050 solid 2px;
    display: inline-block;

}

#img_VT
{
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 80%;
    box-shadow:3px 3px 15px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#Copy
{
    font-family:Arial, Helvetica, sans-serif; 
    color: white; 
    text-decoration: none;
    
}

#a_copy
{
    font-family:Arial, Helvetica, sans-serif; 
    color: white; 
    text-decoration: none;
    font-size: small;
}