html {
    width: auto;
    height: auto;
    
}

body {
    margin: 0px;
    height: auto;
    width: auto;
    background-size:500%;
	animation: gradient 330s ease infinite;
    background-image: url(image/back.jpg);
	
}

@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
}

.menu {
 padding-top: 20px;
 padding-bottom: 20px;  
 background-color: rgb(22, 26, 29); 
 width: 100%;
 position: fixed;
 top: auto;
}

li
{
 display: inline-block;
 margin-inline: 2%;
}

.menu a
{
    text-decoration: none; 
    font-size: 20px; 
    font-family:Arial, Helvetica, sans-serif; 
    color: white; 
}

.menu a:hover
{
    border-bottom:1px solid ;
    size: 25px;
}

h1,h2,p
{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    text-align: justify;
}

#table_syn
{
    font-family:Arial, Helvetica, sans-serif;
    color:black;
    margin-left:1%;
    border: solid 2px;
    padding: 1%;
    float: left;
    margin-left: 2%;
}
    

#main_titre
{
display: inline-block;
border-bottom: 3px solid #000000;
font-size: 30px;
}

#titre
{
    font-size: 25px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 15px;
   
}
#min_titre
{
    padding-top: 15px;
    text-decoration: underline;
    font-family:Times, serif;
    color:#499582;
    font-weight: bold;
    margin: 2%;
    font-size: 25px;
}

#small_titre
{margin-left:2%;
 font-weight: bold;}


/**/

*{margin:auto;}


.main_block
{
    margin-top: 5%;
    background-color: #fafafa;
    width: 40%;
    height:auto;
    padding: 1.5%;
    box-shadow: 2px 4px 14px -1px rgba(0,0,0,0.25);
    border-bottom: 1px solid #000000;

}

.block_texte_projet
{
    
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    padding-bottom: 2%;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
}

.block_exp
{
    
    border: 1px solid #000000;
    box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.1);
    display: inline-block;
    background-color: #FFFFFF;
    padding-bottom: 2%;
    width: 90%;
    height: auto;
    margin-left: 1%;
    margin-top: 3%;
    margin-left: 3%;
}

#img_projet
{
    float: left;
    display:block;
    margin-left: 2%;
    border: 1px solid #000000;
    
}

#img_projet2
{
    display:block;
    margin-left: 2%;
    display: inline-block;
    width: 60%;
    cursor: zoom-in;
    border: 1px solid #000000;
}

#txt_projet
{
    margin-left:2%;
    display: inline-block;
}




embed
{
    margin-left:3%;
    border: solid 3px;
    float: left;
}

hr
{
    margin-left: 10%;
    margin-right: 10%;
}

footer
{
    width: 100%;
    padding-top: 1.25%;
    padding-bottom: 1.25%;
    background-color: rgb(22, 26, 29);
    bottom:auto;
    position:absolute;
}

#Copy
{
    font-family:Arial, Helvetica, sans-serif; 
    color: white; 
    text-decoration: none;
    
}

#a_copy
{
    font-family:Arial, Helvetica, sans-serif; 
    color: white; 
    text-decoration: none;
    font-size: small;
}

.info_projet
{
    display: inline-block;
    width: 40%;
}

#link_file_E4
{ 
    text-decoration: underline;
    color: purple;
}
